body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 25px;
  width: 75px;
  height: 150px;
  padding: 10px;
  background: white;
  color: white;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 2px;
  background: white;
  margin-top: 2px;
}